<!DOCTYPE html>

<html>

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/resources/Index.css" />
</head>

<body>

    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>@ViewData["Title2"] </h1>
    </header>

    <nav>
        <ul>
            <li><a href="/Home/Index">Accueil</a></li>
            <li><a href="/Home/Index/@ViewData["Lien"]">@ViewData["Lien2"]</a></li>
        </ul>
    </nav>

    @RenderBody()

</body>

</html>
