<!DOCTYPE html>

<html>
@{
    ViewData["Title"] = "HN - TP LOCAL";
    ViewData["Title2"] = "Bienvenue dans le TP HN";
    ViewData["Lien"] = "OpinionList";
    ViewData["Lien2"] = "Liste Avis";
}
    <body>
        <section>
            <p>
                <a href="/Home/Index/Form">Remplir le formulaire</a>
            </p>
        </section>

    </body>

</html>
